@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#2f3542;
    font-family: 'Raleway', sans-serif;
    display: block;

   
}

.background-wrapper{
     
    margin: 5vh auto;
    background-color: #ffffff;
    width: 145vh;
    height: 90vh;
    display: none;
    flex-direction: row;

 
    
    
}

.profile-nav{
    max-width: 45vh;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

}

.profile-nav-header p{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 26.5px 20px;
    font-size: 20pt;
    color: #2f3542;
    font-family: 'Raleway';
    font-weight: 700;
    width: 100%;
    cursor: default;

 

}

.p-subtitle{
    color: #5352ed;
    padding: 0px 6px;
}

#logo{
    font-size: 26pt;
    padding: 0px 10px;
    color: #5352ed;

}

.user-profile{

    width: 100%;
    height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    

}

.user-profile-img{
    background-color:rgba(211, 211, 211, 0.336);
    width: 10vh;
    height:10vh;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
 
}

#change-profile-pic{
    font-size: 24pt;
    color:  #2f3542c5;
    display: none;
   
}
.user-profile-img:hover {
    background-color: #2f35422f;
}
.user-profile-img:hover > #change-profile-pic {

    display: block;
    transition: .3s;
  

}

.user-profile-name{
    font-size: 14pt;
    padding-top: 12px;
    color:  #2f3542;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-weight: 700;
   
}

.user-connection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    color: #2f3542;
    
   
}

#user-connection-icon{
    font-size: 24pt;
    padding: 0 2px;
    color: #2ed573;
    cursor: pointer;
  
}

.user-conversations{

    width: 100%;
    height: 100%;
}

.conversations-header{
    width: 100%;
    height: 6vh;
    padding: 20px 30px;
    margin-bottom: 7px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.conversation-notification-bckg{
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.856);
    margin-left: 17vh;  
    padding: 0px 24px;
    height: 8vh;

    

  
    
}
.conversation-notification{
    font-size: 8pt;
    color: #ffffff;
    background-color:  #5352ed;
    border-radius: 100%;
    width: 2vh;
    height: 2vh;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-weight: 700;
    
    
}

.conversations-main-list{
    margin-bottom: 10px;
    border-bottom:  solid 1.5px rgb(235, 235, 235);
    width: 100%;
    height: 100%;
}
.contact-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 10vh;
    padding: 12px 30px;
    border-top: solid 1.5px rgb(235, 235, 235);
    
   
  
}

.contact-info:hover{
    background-color:  rgb(235, 235, 235);
    cursor: pointer;

}
.contact-info:hover > .conversation-notification-bckg{
    background-color: rgb(235, 235, 235);
    cursor: pointer;

}

.contact-name{
    max-width: 10vh;
    width: 100%;
    white-space: nowrap;
    padding-left: 12px;
   
}


.contact-profile-pic{

    background-color:rgba(211, 211, 211, 0.336);
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    
    

}

.contact-message{
    max-width: 10vh;
    width: 100%;
    white-space: nowrap;
    padding: 5px 0;
    padding-left: 12px;
    color:  #57606f;
    

}


#new-message{

    font-family: 'Raleway';
    font-weight: 600;

}
#contact-selected{
    font-family: 'Raleway';
    font-weight: 600;
    background-color: rgb(235, 235, 235);

 
}


#contact-selected > .conversation-notification-bckg{
    background-color: rgb(235, 235, 235);
    cursor: pointer;

}


.profile-nav::-webkit-scrollbar-track
{

	border-radius: 10px;
	background-color: transparent;
}
.profile-nav::-webkit-scrollbar
{
	width: 0px;
	background-color:transparent;
}

.profile-nav::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: transparent;
}

.chat-main-wrapper{ 
    
    width: 100vh;
    height: 100%;
    border-left: solid 2px rgba(211, 211, 211, 0.336);

   
}

.chat-header{
    width: 100%;
    background-color:  #5352ed;
    height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.chat-header-contact-profile-pic{
    width: 6vh;
    height: 6vh;
    background-color: rgba(211, 211, 211, 0.336);
    /* border:  solid 2px #ffffff; */
    border-radius: 100%;
    cursor: pointer;

}

.chat-header-contact-connection-display{
   
    font-family: 'Raleway';
    font-weight: 400;
    padding: 2px 0px;
    font-size: 11pt;
    cursor: pointer;
    
}

.chat-header-contact-name{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 13pt;
    padding-left: 15px;
    color: #ffffff;
}

.chat-conversation-wrapper{


    width: 100%;
    height: 80.7%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    z-index: 0;
    scroll-behavior: smooth;
 
  
}


.chat-conversation-wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.062);
	background-color: transparent;
}


.chat-conversation-wrapper::-webkit-scrollbar
{
	width: 7px;
	background-color: transparent;
}


.chat-conversation-wrapper::-webkit-scrollbar-thumb
{
    background-color:#a4b0bebd;
    border-radius: 6px;

}




.chat-user-message-wrapper{
    width: 100%;
    height: 9.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#f1f2f6;
    position: relative;
    
}


.chat-user-message-form-wrapper{
    background-color: #ffffff;
    width: 85%;
    padding: 10px 20px;
    border-radius: 22px;
}

#user-message-form{

    width: 100%;
    font-size: 13pt;
    padding: 2px 10px;
    outline-style: none;
    border: none;
    font-family: 'Raleway';
    font-weight: 500;
}

#user-message::placeholder{

    color:#747d8c;

}

#send-message, #attach-file,#emoji{

    color: #a4b0be;
    cursor: pointer;
}

#send-message{
    padding: 0px 15px;
}

#emoji{
    padding-left: 15px;
    padding-right: 8px;
}

#attach-file{
    padding-right: 10px;
}

#chat-contact-messages-options, #video-call{
    color: white;
    cursor: pointer;
    padding: 0px 5px;
   
}

.chat-header-contact-master{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#attach-file-input{
    display:  none;
  
}

.attach-file-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#attach-file:active{
    color: #2f3542;
}

.message-wrapper{
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    align-items: right;
    justify-content: flex-end;
    max-width: 60vh;
    margin-left: 36vh;

  
  
}
.message-box-style {
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #5352ed;
  

}
.message-box{
    background-color: #5352ed;
    padding: 20px 25px;
    text-align: left;
    max-width: 60vh;
    border-radius: 14px 0px 14px 14px;
 


   
}

.message-box-p{
    color: white;
    line-height: 23px;
    max-width: 60vh;
    height: 100%;  
}


/* Estilização das mensagens dos contatos */

.contact-message-wrapper{
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    align-items: right;
    justify-content: flex-start;
    max-width: 60vh;
    margin-left: 0vh;
   
 
  
}
.contact-message-box-style {
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #2f3542;

}
.contact-message-box{
    background-color: #2f3542;
    padding: 20px 25px;
    text-align: left;
    max-width: 60vh;
    border-radius: 0px 14px 14px 14px;

   
}

.contact-message-box-p{
    color: white;
    line-height: 23px;
    max-width: 60vh;
    height: 100%;  
}

.emojis-wrapper{
    
    width: 100%;
    padding: 15px 10px;
    background-color: #f1f2f6;
    position: absolute;
    z-index: 1;
    bottom: 8vh;
    display: inline-block;
    display: none;
 
}

.close-emoji-wrapper{
    
 
    width: 100%;
    padding: 15px 10px;
    background-color: #f1f2f6;
    position: absolute;
    z-index: 1;
    bottom: 8vh;
    display: inline-block;
    position: absolute;
    
    

}

.emoji-list{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.emoji-item{
    font-size: 16pt;
    padding:0px 5px;
    cursor: pointer;
}

.select-profile-pic-wrapper{
    width: 100%;
    height: 100%;
    background-color:#2f3542ef;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.select-profile-pic{

    animation: ease-in-out;
    transition: .2s;
    margin: 13vh auto;
    width: 1000px;
    height: 700px;
    background-color: #ffffff;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
    
}

.select-profile-pic-title{
  
    display: flex;
    flex-direction: row;
    font-size: 16pt;
    color: #2f3542;
    font-family: 'Raleway';
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 25px;
    text-transform: uppercase;
   
    

}
#close-select-profile-pic-menu{
    font-size: 22pt;
    color:#2f3542;
  
    cursor: pointer;
   
 

}
#select-pic{
    display: none;
}

#select-pic-btn{
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding: 15px 25px;
    border: solid 2px #ffffff;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 12pt;
    
}




#cancel-selected-profile-pic{
    cursor: pointer;
    background-color: transparent ;
    border: solid 2px#a4b0be;
    color: #a4b0be;
    padding: 16px 50px;
    width: 200px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 13pt;
    outline-style: none;
    font-weight: 500;
    margin: 0px 3px;
}

.select-profile-pic-img-display{
    width: 95%;
    border: solid 2px #2f3542;
    background-color: #2f3542;
    height: 570px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.get-started{
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
  width: 500px;
  padding: 30px;
  align-items: center;
  justify-content: center;
  background-color: white;
  
 
}
.get-started p{
  font-size: 30pt;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #2f3542;
   margin-top: 20px;
   margin-bottom: 30px;
  
}

.login-p-subtitle{
  color: #5352ed;
}

#login-logo{
    color: #5352ed;
    font-size: 30pt;

}



.login-form{
  margin: 8px 0;
  padding: 16px 12px;
  width: 350px;
  outline-style: none;
  border: none;
  font-family: 'Raleway';
  font-size: 12pt;
  font-weight: 500;
  border: none;
  border: solid 4px rgb(235, 235, 235);
 
}

.login-btn{
  width: 350px;
  outlyne-style: none;
  border: none;
  background-color: #5352ed;
  font-size: 'Raleway';
  font-weight: 700;
  color: white;
  font-size:18pt;
  padding: 16px 0px;
  margin-top: 20px;
  margin: 20px 0;
  cursor: pointer;
}

.login-form:focus{
  border: solid 4px black;
  transition: .2s;
}

.login-btn:active{
  outline-style: none;
  border: none;
}
